body {
  font: 16px/1.5 sans-serif;
}

.modal {
  width: 50vw;
  height: 40vh;
  border: 15px solid #5bcef3;
  background-color: #b4eafb;
  border-radius: 10px;
  font-size: 30px;
  position: absolute;
  left: 200px;
}

button {
  width: 80px;
  height: 25px;
}

.exit {
  color: black;
  width: 30px;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 0;
}

.ok {
  background-color: #28a745;
  color: white;
  width: 80px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
}

/* sem přijdou tvoje styly */
.pomoc {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border: 5px solid #b4eafb;
  background-color: #5bcef3;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky {
  background-color: #5bcef3;
  color: white;
  padding: 20px;
  position: sticky;
  left: 0;
  top: 20px;
}